@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: white;
  text-decoration: none !important;
  transition: all 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  background-color: #1f1015;
}

/* home section starts*/
.header {
  background-image: url(./images/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar.active {
  background-color: #fff;
  transition: all 2.5s;
  height: 60px !important;
}

.navbar.active .navbar-brand {
  color: black;
}

.navbar.active .hamburger {
  color: black;
}

.navbar.active .nav-link {
  color: black;
}

@media (max-width: 767px) {
  #collapsibleNavbar {
    background-color: white;
    border-radius: 0 0 5px 5px;
  }
  .nav-link {
    color: black !important;
  }
}
/* home section ends*/

/* about section starts */
@media (max-width: 767px) {
  .w-fixed {
    max-width: 420px;
  }
}
/* about section ends */

/* counter section starts */
.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

#counter {
  background-image: url(./images/counter-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* counter section ends */

/* team section starts */
.media {
  left: -100%;
}

.trainers,
.media {
  border-radius: 0 5px 0;
}

.trainers-container:hover .trainers {
  left: -100%;
}

.trainers-container,
.trainers-container img {
  border-radius: 0 20px 0 20px;
}

.trainers-container:hover .media {
  left: inherit;
}

.media > a > i:hover {
  color: #ff5421 !important;
}
/* team section ends */

.border-orange {
  border-color: #ff5421;
}

#footer {
  background-color: #2a0d05;
}

/* colors starts */
.text-orange {
  color: #ff5421;
}
.btn-orange {
  background-color: #ff5421;
  color: white !important;
}
.btn-orange:hover {
  background-color: white;
  color: #ff5421 !important;
}
.hover-orange:hover {
  color: #ff5421 !important;
}
/* colors ends */
